<ion-view title="Discover List">
  <ion-content class="has-header">
    <label class="item item-input item-floating-label">
      <i class="icon ion-ios-search-strong"></i>
      <input type="text" placeholder="Seminar name" ng-model="search">
    </label>
    <ion-list>
      <div ng-repeat="seminar in seminars | filter:search">
        <ion-item type="item-text-wrap" href="#/tab/seminar/{{seminar.id}}">
          <span>{{seminar.name}}</span>
          <br/>
          <p>{{seminar.caption}}</p>
          <p>{{seminar.categories}}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
