<form ua-login>
  <ion-view title="Log In">
    <ion-content class="center">
      <div class="list list-inset">
        <div class="logo-center">
          <img src="img/smartask.jpg"/>
        </div>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="login">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">
          <span ng-show="!loading">Log In</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
      </div>
      <div class="padding">
        <a href="#/signup">
          <button class="button button-block button-energized icon-left ion-person-add">Create new account</button>
        </a>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
