<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{seminar.name}}">
  <ion-content has-header="true" class="center">
    <div class="card">
      <div class="item item-divider">{{seminar.caption}}</div>
      <div class="item item-body">{{seminar.description}}</div>
      <div class="item item-body"><b>Speaker: </b>{{seminar.speaker}}</div>
      <div class="item item-body"><b>Time: </b>{{seminar.date}} {{seminar.time}}</div>
      <div class="item item-body"><b>Location: </b>{{seminar.city}}, {{seminar.location}}</div>
    </div>
    <div class="row-bottom">
      <div class="col">
        <button class="button button-block button-positive" ng-hide="pay.success" ng-click="pay()">Book now {{seminar.currency}} {{seminar.fee}}</button>
      </div>
      <div class="col bar bar-block bar-balanced" ng-show="pay.success">
        <div class="title">{{ pay.message }}</div>
      </div>
      <div class="col bar bar-block bar-assertive" ng-show="error">
        <div class="title">{{ error.message }}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
