<ion-view title="Seminars">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider">
        Available Seminars
      </div>
      <div ng-repeat="seminar in seminars">
        <div ng-if="!seminar.paid">
          <ion-item type="item-text-wrap" href="#/tab/seminar/{{seminar.id}}">
            <span>{{seminar.name}}</span>
            <br/>
            <p>{{seminar.caption}}</p>
          </ion-item>
        </div>
      </div>
      <div class="item item-divider">
        Booked Seminars
      </div>
      <div ng-repeat="seminar in seminars">
        <div ng-if="seminar.paid">
          <ion-item type="item-text-wrap" href="#/tab/seminar/{{seminar.id}}">
            <span>{{seminar.name}}</span>
            <br/>
            <p>{{seminar.caption}}</p>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
